@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .custom-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #ffffff36 transparent;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #6347FF;
        border-radius: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-button {
        display: none;
    }
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(#000 0 0);
    background:
        var(--c) 0 0,
        var(--c) 0 100%,
        var(--c) 50% 0,
        var(--c) 50% 100%,
        var(--c) 100% 0,
        var(--c) 100% 100%;
    background-size: 8px 50%;
    animation: l7-0 1s infinite;
    position: relative;
    overflow: hidden;
}

.loader:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
    top: calc(50% - 4px);
    left: -8px;
    animation: inherit;
    animation-name: l7-1;
}

@keyframes l7-0 {
    16.67% {
        background-size: 8px 30%, 8px 30%, 8px 50%, 8px 50%, 8px 50%, 8px 50%
    }

    33.33% {
        background-size: 8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 50%, 8px 50%
    }

    50% {
        background-size: 8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 30%
    }

    66.67% {
        background-size: 8px 50%, 8px 50%, 8px 30%, 8px 30%, 8px 30%, 8px 30%
    }

    83.33% {
        background-size: 8px 50%, 8px 50%, 8px 50%, 8px 50%, 8px 30%, 8px 30%
    }
}

@keyframes l7-1 {
    20% {
        left: 0px
    }

    40% {
        left: calc(50% - 4px)
    }

    60% {
        left: calc(100% - 8px)
    }

    80%,
    100% {
        left: 100%
    }
}

.clip-box {
    clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.clip-corner {
    position: relative;
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #9CA3AF #F3F4F6;
}

.custom-scrollbar::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #F3F4F6;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #9CA3AF;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6B7280;
}

.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}